*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat", sans-serif;
}
nav{
    display: flex;
    color: #007bff;
    font-weight: bold;
    height: 70px;
    align-items: center;
}
nav p{
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    gap: 4px;
    cursor: pointer;
}

.menu .line{
    height: 2px;
    background-color: #007bff;
    border-radius: 5px;
}

.menu .line1{
    width: 30px;
}
.menu .line2{
    width: 26px;
}
.menu .line3{
    width: 22px;
}

.greetings{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.first-line{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.first-line a{
    text-decoration: none;
}

.rectangle{
    background-color: #007bff;
    color: white;
    font-weight: bold;
    height: 200px;
    width: 400px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
}
.rectangle:hover{
    transform: translateY(-5px);
} 

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    filter: opacity(23%);
    position: absolute;
    bottom: -40px;
    right: -40px;
}

.second-line{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-size: 25px;
    gap: 10px;
}
.second-line p:nth-child(1){
    font-weight: bold;
    font-style: italic;
}
.second-line p:nth-child(2){
    filter: opacity(50%);
}
.second-line a{
    font-size: 14px;
}