/* For Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #888, #555); /* Gradient effect */
    border-radius: 20px;
    border: 3px solid transparent; /* Adds space around the thumb */
    background-clip: content-box;  /* Prevents color bleeding */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* For Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

button{
    width: fit-content;
    padding: 10px;
    border-radius: 2px;
    background-color: #C8351C;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 2;
  }
  button:hover{
    background-color: #9c2a16;
  }
  
.section-title{
    display: flex;
    justify-content: center;
    transform: translateY(10px);
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 40px;
}
.section-subtitle{
    margin-top: 40px;
}