/* For Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #888, #555); /* Gradient effect */
    border-radius: 20px;
    border: 3px solid transparent; /* Adds space around the thumb */
    background-clip: content-box;  /* Prevents color bleeding */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* For Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

button{
    width: fit-content;
    padding: 10px;
    border-radius: 2px;
    background-color: #C8351C;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 2;
  }
  button:hover{
    background-color: #9c2a16;
  }

.transparent-button{
    width: fit-content;
    border: 1px #1c1c1c solid;
    background-color: #eeeeed;
    color: #1c1c1c;
}
.transparent-button:hover{
    background-color: #1c1c1c;
    color: #eeeeed;
}

.element-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}
.team-logo-overlay, .card-team-logo-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1c1c1c;
    color: #eeeeed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: bold;
    z-index: 1;
    border-radius: 50%;
  }
  
.section-title{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #C8351C;
    position: relative;
}

.section-title::before{
    content: '';
    position: absolute;
    bottom: -5px;
    background-color: #C8351C;
    width: 100px;
    height: 2px;
    border-radius: 5px;
}

.section-subtitle{
    margin-bottom: 20px;
    margin-top: 20px;
}

.circle-logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #1c1c1c;
}
