*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .homepage-wrapper{
    min-height: 100vh;
    background-color: #eeeeed;
    background: url(../images/hero-page-team-image2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    position: relative;
}

.homepage-wrapper::before, .about-madina-wrapper::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 60%);
  opacity: 94%;
  pointer-events: none; /* Allows clicks through the overlay */
  z-index: 1; /* Places the overlay on top */
}
.homepage-bottom{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 2;
}

.club-name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  z-index: 2;
  color: #eeeeed;
}

.homepage-wrapper .club-name{
  font-weight: bolder;
  font-size: 70px;
  display: flex; 
  margin-top: 70px;
}
.homepage-wrapper .club-name span{
  font-style: italic;
  margin-left: 7px;
  color: #eeeeed;
}

.homepage-wrapper.club-slogan{
  font-size: 20px;
  font-weight: bold;
  transform: translateY(20px);
}

.hero-upcoming-and-match-results-wrapper{
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  margin-top: 50px;
}
.hero-upcoming-and-match-results-wrapper .title{
  font-weight: bold;
}

.hero-upcoming-and-match-results-wrapper .card{
  margin-top: 5px;
  width: 300px;
  height: 160px;
  
  border-radius: 3px;
  color: #eeeeed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-buttons-wrapper{
  width: 500px;
  display: flex;
  position: absolute;
  bottom: 40px;
  justify-content: space-evenly;
}

.hero-buttons-wrapper a{
  margin-top: 20px;
  z-index: 2;
}


.hero-upcoming-and-match-results-wrapper .league-name{
  display: flex;
  justify-content: center;
  opacity: 1;
  font-size: 14px;
  margin-top: 3px;
  color: #eeeeed;
  font-weight: bold;
  display: none;
}
.card-center-wrapper{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}

.team-and-logo{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 2px;
}
.hero-card-vs{
  font-weight: bold;
  font-size: 24px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.hero-card-team-logo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-match-location, .hero-match-date{
  font-weight: bold;
  font-size: 13px;
}

/* about madina section */
.about-madina-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(../images/about-madina-bg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #eeeeed;
  
}

.about-us-title{
  font-size: 50px;
  margin-top: 160px;
  z-index: 2;
  font-weight: bolder;
  position: relative;
}
.about-us-title::before{
  content: '';
  height: 5px;
  width: 100%;
  background-color: #C8351C;
  z-index: 4;
  position: absolute;
  bottom: 2px;
  border-radius: 5px;
}

.about-us-context{
  text-align: center;
  margin-top: 60px;
  width: 70%;
  z-index: 2;
  font-size: 20px;
}
  
.about-madina-wrapper button{
  margin-top: 18px;
}

/* upcoming matches section */
.upcoming-matches-wrapper{
  position: relative;
  min-height: 100vh;
  background-color: #eeeeed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.homepage-upcoming-match-cards-wrapper{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.upcoming-match-card{
  width: 300px;
  height: 300px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);

}
.upcoming-match-card .leage-title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.match-date, .match-time-and-place{
  margin-top: 5px;
  font-weight: bold;
}
.card-team-circle-logo{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.upcoming-match-card .teams-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  height: 120px;
}
.upcoming-match-card .team-name-and-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  justify-content: space-evenly;
  text-transform: capitalize;
  font-size: 13px;
}

.upcoming-match-card .vs-div{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: x-large;
  font-weight: bolder;
  color: #1c1c1c;
}

.homepage-results-section-subtitle{
  margin-top: 40px;
}
/* match result  */
.match-result-wrapper{
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 60px;
}


.match-result-card{
  position: relative;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  width: 300px;
  height: 370px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.match-result-leage-title{
  padding-top: 20px;
  text-transform: uppercase;
}

.match-result-leage-title, .result-match-date , .result-match-time-and-place{
  font-weight: bold;
}

.teams-and-score-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


.results-card-team-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

} 
.score-wrapper{
  width: 150px;
  background-color: #1c1c1c;
  color: white;
  border-radius: 3px;
  padding: 6px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.match-result-card .transparent-button{
  background-color: white;
  color: #1c1c1c;
  position: absolute;
  margin: 0;
  bottom: 20px;
}
.result-section-button{
  margin-bottom: 40px;
}

/* Meet the team section */
.meet-the-team-section{
  min-height: 100vh;
}